#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
/*  */
/* ::-webkit-scrollbar {
  background-color: rgba(255, 69, 0, 0.2);
  width: 6px;
  z-index: 100;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 69, 0, 1);
  border-radius: 10px;
} */
*::-webkit-scrollbar {
  display: none;
}

.parallax {
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  /* transform: translateZ(0); */

  /* -webkit-transform: translateZ(0); */
  transform: translateZ(0);

  /* z-index: 4; */
}

.layer2 {
  transform: translateZ(-1px) scale(2);
  /* z-index: "-1"; */
  background-size: cover;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

a.active {
  color: white;
}
@media screen and (max-width: 700px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 1em;
  }
  .nav-links-closed {
    display: none;
  }
  .nav-link-container {
    padding: 0 2em;
    margin: 0;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10em;
  }
}
@media screen and (min-width: 700px) {
  .nav-links {
    flex-direction: row;
    display: flex;
    gap: 2em;
  }
  .nav-links-closed {
    flex-direction: row;
    display: flex;
    gap: 2em;
  }
  .burger {
    display: none;
  }
  .burger2 {
    display: none;
  }
  .nav-link-container {
    padding: 0 4em;
  }
  svg {
    margin: 0;
  }
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10em;
  }
  .homepage-introduction {
    width: 50%;
    max-width: 400px;
  }
}

.nav-links {
  animation-name: navAnimation;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.shrink {
  animation-name: navAnimation2;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes navAnimation {
  from {
    margin-top: -50vh;
    opacity: 0;
  }
  to {
  }
}
@keyframes navAnimation2 {
  from {
  }
  to {
    margin-top: -50vh;
    opacity: 0;
  }
}

.burger {
  animation-name: burgerAnim;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.burger2 {
  animation-name: burgerAnim2;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.fade {
  animation-name: fadeAnim;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes burgerAnim {
  from {
    opacity: 0;
  }
  to {
  }
}
@keyframes burgerAnim2 {
  from {
    opacity: 0;
  }
  to {
  }
}
@keyframes fadeAnim {
  from {
  }
  to {
    opacity: 0;
  }
}
a.active:hover {
  transition: 0.5s;
  color: white;
  /* color: orangered; */
}
.underline {
  height: 3px;
  width: 0%;
  transition: 0.5s;
}
.nav-link:hover .underline {
  transition: 0.5s;
  width: 100%;
}
.nav-link-git {
  background-color: rgb(80, 42, 95);
  transition: 0.25s;
}
.nav-link-git:hover {
  background-color: rgb(103, 56, 124);
  margin-top: -5px;
  margin-bottom: 5px;
}
.clr-1 {
  color: orangered;
}
.bg-1 {
  background: orangered;
}
.homepage-pic1 {
  border: 3px dashed red;
  height: 400px;
  width: 400px;
  margin: 1em auto;
}
.homepage-pic2 {
  border: 3px dashed red;
  height: 300px;
  width: 300px;
  margin: 1em auto;
}
h3 div {
  height: 1rem;
}
.green {
  color: yellowgreen;
}
.red {
  color: red;
}
