#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
/*  */
*::-webkit-scrollbar {
  display: none;
}

.nav-link-outer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.nav-link-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: auto; */
  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(0);
}

.layer2 {
  transform: translateZ(-1px) scale(2);
  background-size: cover;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

a.active {
  color: white;
}
.icon-bg {
  margin: 0 1em;
  padding: 0.65em 0.75em 0.35em 0.75em;
  border-radius: 100%;
  background: white;
}
.homepage-introduction {
  text-align: left;
  font-size: 1.25rem;
  width: 100%;
  max-width: 400px;
}
.homepage-icons {
  display: inline-flex;
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 1em;
    font-size: 1.35rem;
  }
  .nav-links-closed {
    display: none;
  }
  .nav-link-container {
    padding: 0 2em;
    margin: 0;
  }
  .parallax-layer {
    padding: 0 3em;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2em;
  }
  .homepage-pic1 {
    height: 70vw;
    width: 70vw;
    margin: 1em auto;
  }
  .homepage-pic2 {
    border: 3px dashed red;
    height: 60vw;
    width: 60vw;
    margin: 1em auto;
  }
  .footer-inner-container {
    flex-direction: column;
  }
  .homepage-icons {
    margin-left: -0.6em;
  }
  .homepage-jumbo-text {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 700px) {
  .nav-links {
    flex-direction: row;
    display: flex;
    gap: 2em;
  }
  .nav-links-closed {
    flex-direction: row;
    display: flex;
    gap: 2em;
  }
  .burger {
    display: none;
  }
  .burger2 {
    display: none;
  }
  .nav-link-container {
    padding: 0 4em;
  }
  svg {
    margin: 0;
  }
  .parallax-layer {
    padding: 0 5em;
  }
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10em;
  }
  .homepage-pic1 {
    height: 400px;
    width: 400px;
    margin: 1em 0;
  }
  .homepage-pic2 {
    border: 3px dashed red;
    height: 300px;
    min-width: 300px;
    float: right;
    margin: 1em 0;
  }
}

.nav-links {
  animation-name: navAnimation;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.shrink {
  animation-name: navAnimation2;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes navAnimation {
  from {
    margin-top: -50vh;
    opacity: 0;
  }
  to {
  }
}
@keyframes navAnimation2 {
  from {
  }
  to {
    margin-top: -50vh;
    opacity: 0;
  }
}

.burger {
  animation-name: burgerAnim;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.burger2 {
  animation-name: burgerAnim2;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.fade {
  animation-name: fadeAnim;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes burgerAnim {
  from {
    opacity: 0;
  }
  to {
  }
}
@keyframes burgerAnim2 {
  from {
    opacity: 0;
  }
  to {
  }
}
@keyframes fadeAnim {
  from {
  }
  to {
    opacity: 0;
  }
}
a.active:hover {
  transition: 0.5s;
  color: white;
  /* color: orangered; */
}
.underline {
  height: 3px;
  width: 0%;
  transition: 0.5s;
}
.nav-link:hover .underline {
  transition: 0.5s;
  width: 100%;
}
.nav-link-git {
  background-color: rgb(80, 42, 95);
  transition: 0.25s;
}
.nav-link-git:hover {
  background-color: rgb(98, 53, 118);
  margin-top: -2px;
  margin-bottom: 2px;
}
.clr-1 {
  color: orangered;
}
.bg-1 {
  background: orangered;
}
h3 div {
  height: 1rem;
}
.green {
  color: yellowgreen;
}
.red {
  color: red;
}
/* ############################### */
.textEnter {
  color: rgba(255, 255, 255, 1);
  margin-left: 0%;
  animation-name: textEnterAnim;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes textEnterAnim {
  from {
    color: rgba(255, 255, 255, 0);
    margin-left: -100%;
  }
  to {
    color: rgba(255, 255, 255, 1);
    margin-left: 0%;
  }
}
.textLeave {
  color: rgba(255, 255, 255, 0);
  margin-left: -100%;
  animation-name: textLeaveAnim;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes textLeaveAnim {
  from {
    color: rgba(255, 255, 255, 1);
    margin-left: 0%;
  }
  to {
    color: rgba(255, 255, 255, 0);
    margin-left: -100%;
  }
}
.textstarter {
  color: rgba(255, 255, 255, 0);
  margin-left: -100%;
}
/* ############################# */
